/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body {
    margin:0;
    padding:0;
    font-family: helvetica;
    background-color: #eeeeef;
    
}
.nav-search {
  display: flex;
  width: 1000px;
  align-items: center;
  justify-content:space-evenly;
}
.nav-search p {
  cursor: pointer;
}

.nav-search-box{
  height: 40px;
  width: 200px;
  font-size: 16px;
    border: none;
  border-radius: 3px;
}
.nav-search button {
  height: 40px;
  width: 40px;
  margin-bottom: 1px;
  color: white;
  background-color: red;
  border: none;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
}
.nav-dropdown ul {
    list-style-type: none;
}
.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
    padding-left:  0px;
  margin: 0px 30px 0px 30px;
  height: 75px;
}

.nav-list li {
  cursor: pointer;
}

.nav-logged-out-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left:  0px;
  margin: 0px 30px 0px 30px;
    height: 75px;
}
#dropdown-container {
  color: gray;
  font-size: 25px;
  z-index: 9;
}
.nav-dropdown {
  position: relative;
}
.nav-dropdown-box {
  position: absolute;
  background-color: white;
  width: 150px;
  right: -5px;
  top: 40px;
  border-radius: 3px;
  padding: 10px 15px 10px 15px;
  z-index: 1;
}
.about-link {
    text-decoration: none;
    color: #2b273c;
}

.nav-dropdown-box li:not(:first-child){
  border-top: 1px solid lightgray;
}
.nav-dropdown-box li{
  padding: 20px 0px 20px 0px;
  z-index: 9;
}
.dropdown-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
}
.nav-dropdown-box li div{
  color: #2b273c;
}

.nav-dropdown-box li:hover {
  cursor: pointer;
  background-color: lightgray;
}

.nav-dropdown-box li i {
  margin-right: 10px;
  padding-left: 10px;
}

.gelplogo {
  height: 50px;
}
.nav-links a {
  font: bold 18px helvetica;
  text-decoration: none;
  background-color: transparent;
  color: #2b273c;
  padding: 10px 12px 10px 12px;
  border-top: 1px solid lightgray;
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-radius: 5px;
  margin: 5px;
}

.nav-links a:last-child{
  color: white;
  background-color: red;
  border: none;
}
 
footer{
  /* position: relative; */
  margin-top: 100px;
  background: lightgray;
  height: 400px;
  width: 100%;
  color: white;
  text-align: center;
 }

 .mylinks {
  display: flex;
  flex-direction: column;
 }

 footer a {
     margin-top: 10px;
    font: bold 10px helvetica;
    color: #0073bb;
    text-decoration: none;
 }
