/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body {
    margin:0;
    padding:0;
    font-family: helvetica;
    background-color: #eeeeef;
}
.nav-logged-out {
     margin-top: 25px;
     display: flex;
     justify-content: flex-end;
}

.nav-dropdown ul {
    list-style-type: none;
}
.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 40px
  
}
#dropdown-container {
  color: gray;
  font-size: 25px;
}
.nav-dropdown {
  position: relative;
}
.nav-dropdown-box {
  position: absolute;
  background-color: white;
  width: 125px;
  right: -5px;
  top: 40px;
  border-radius: 3px;
  padding: 10px 15px 10px 15px;
  z-index: 1;
}

.nav-dropdown-box li {
  display: flex;
  border-bottom: solid 1px gray;
  justify-content: space-evenly;
  font-size: 14px;
}
.nav-dropdown-box li:hover {
  display: flex;
  border-bottom: solid 1px gray;
  justify-content: space-evenly;
  font-size: 14px;
  cursor: pointer;
  background-color: lightgray;
}
.nav-dropdown-box li:last-child {
  border: none;
}

.nav-dropdown-box li i {
  padding-top: 15px;
}

.gelplogo {
  height: 50px;
}
.nav-links a {
  font: bold 14px helvetica;
  text-decoration: none;
  background-color: transparent;
  color: black;
  padding: 6px 10px 6px 10px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-radius: 5px;
  margin: 5px;
}
 
footer{
    display: flex;
    justify-content: center;
    padding-bottom: 32000px;
    margin-bottom: -32000px;
    background: lightgray;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
 }

 footer a {
    font: bold 10px helvetica;
    color: #0073bb;
    text-decoration: none;
 }