.business-title-block {
    margin-left: 100px;
}
.business-title-block h1 {
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 0px;
}
#title-star {
    font-size: 40px;
}

.hours-body p{
    color: green;
    margin-right: 5px;
    font-weight: 900;
}
.hours-body {
    font-weight: 900;
    color: gray;
    display: flex;
    align-items: center;
}
.business-location-hours {
    margin-left: 100px;
    border-top: solid 1px lightgray;
    width: 1000px;
}
.address-location-block {
    display: flex;
}
.address-block p {
    margin: 3px;
}
.schedule-block{
    margin-top: 0px;
list-style: none;
}
.schedule-block li{
margin: 3px;
}
.business-reviews {
    margin-left: 100px;
    margin-right: 100px;
    width: 1000px;
}

.business-images {
    display: flex;
    height: 250px;
    margin-left: 0px;
}
.business-images img{
    max-width: 25%;
    object-fit: cover;
    margin: 1px;
}

.business-buttons {
    padding-left: 0px;
    display: flex;
}
.addphoto-button {
    list-style-type: none;
}
.addphoto-button a {
      font: bold 14px helvetica;
  text-decoration: none;
  background-color: transparent;
  color: black;
  padding: 6px 10px 6px 10px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-radius: 5px;
  margin: 5px;
}

.addreview-button {
    list-style-type: none;
}
#add-review-star {
    color: white;
}
.addreview-button a {
      font: bold 14px helvetica;
  text-decoration: none;
  background-color: red;
  color: white;
  padding: 6px 10px 6px 10px;
  border-radius: 5px;
  margin: 5px;
}

.business-reviews h2 {
    padding-top: 20px;
    border-top: solid 1px lightgray
}

.location-map {
    width: 315px;
    height: 150px;
}