.business-container-main {
    width: 1000px;
    margin: auto;
    display: flex;
}
.business-container-left {
    width: 750px;
}

.business-title-block h1 {
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 0px;
}
.avgRatings {
    font-size: 20px;
    color: gray;
    display: flex;
    align-items: center;
}
#title-star {
    font-size: 40px;
    color: red
}
.business-title-block-category {
    color: gray;
}
.hours-body p{
    color: green;
    margin-right: 5px;
    font-weight: 900;
}
.hours-body {
    font-weight: 900;
    color: gray;
    display: flex;
    align-items: center;
}
.business-location-hours {
    border-top: solid 1px lightgray;
}
.address-location-block {
    display: flex;
}
.address-block p {
    margin: 3px;
}
.schedule-block{
    margin-top: 0px;
    list-style: none;
}
.schedule-block li{
margin: 3px;
}

.business-images {
    display: flex;
    height: 250px;
    margin-left: 0px;
}
.business-images img{
    max-width: 25%;
    object-fit: cover;
    margin: 1px;
}
.image-index-link {
    position: absolute;
    right: 1%;
    top: 280px;
    z-index: 9;
    font: bold 16px helvetica;
    text-decoration: none;
    background-color: #eeeeef;
    color: black;
    padding: 10px 14px 10px 14px;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-radius: 5px;
    margin: 5px;
}
.business-buttons {
    padding-left: 0px;
    display: flex;
}
.addphoto-button {
    list-style-type: none;
}
.addphoto-button a {
      font: bold 16px helvetica;
  text-decoration: none;
  background-color: transparent;
  color: black;
  padding: 10px 14px 10px 14px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-radius: 5px;
  margin: 5px;
}

.addreview-button {
    list-style-type: none;
}
#add-review-star {
    color: white;
}
.addreview-button a {
      font: bold 16px helvetica;
  text-decoration: none;
  background-color: red;
  color: white;
  padding: 10px 14px 10px 14px;
  border-radius: 5px;
  margin: 5px;
}

.business-reviews h2 {
    padding-top: 20px;
    border-top: solid 1px lightgray
}

.location-map {
    width: 315px;
    height: 150px;
}

.business-container-right {
    margin: 30px 0px 750px 0px;
    background-color: #eeeeef;
    width: 300px;
}

.business-container-right ul {
    position: sticky;
    top: 100px;
    width: 300px;
    padding: 10px;
    margin: 0px 0px 0px 10px;
    border: solid 1px lightgray;
}
.business-container-right ul li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px lightgray;
    align-items: center;
}
.business-container-right ul li:last-child {

    border-bottom: none
}
.side-info {
    color: #00838f;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: hidden;
}
.side-info-phone {
        margin-top: 20px;
    margin-bottom: 20px;
    color: black;
}
.side-info-address {
    color: gray;
    margin: 5px 0px 0px 0px;
}
.side-info a {
    color: #00838f;
    text-decoration: none;
    text-overflow: clip;
}

.business-container-right i {
    font-size: 25px;
}