.reviews-container {
    /* border: solid 1px red; */
}

.reviews-container ul {
    list-style: none;
    padding-left: 0px
}

.review-show {
    display: flex;
    border-bottom: solid 1px lightgray
}

.reviewer-info {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    width: 200px;
}
.reviewer-name {
    margin-left: 10px;
    font-size: 18px;
    font-weight: 600;
    width: 200px;
}
.fa-star {
    color: red;
}
#profile-pic {
    font-size: 75px;
    color: gray;
    background: lightgray;
    height: max-content;
}

.review-main-body {
    margin-left: 45px;
}