.review-form-box {
    margin: 0 auto 0 auto;
    display: flex;
    height: 500px;
    width: 600px;
    flex-direction: column;
}

.review-form-box a {
    color: #0073bb;
    text-decoration: none;
}
.review-form-box a:hover {
    text-decoration: underline;
}
.review-form-box h2 {
    color: red;
    text-decoration: none;
}
.review-form-box form{
    display: flex;
    
    height: 500px;
    flex-direction: column;
}

.form-text-body {
    font-family: helvetica;
    background-color: transparent;
    border: none;
    height: 400px;
    resize: none;
    outline-width: 0;
    border: solid 1px lightgray;

}

.form-text-submit {
    margin: 10px auto 0 auto;
    width: 150px;
    height: 40px;
    color: white;
    background-color: red;
    border: none;
    font-size: 16px;
    border-radius: 3px;
    transition: 0.5s;
}

.form-text-submit:hover {
    background-color: #d32323;
    cursor: pointer;
}
.rating-radials {
    border: none;
}

#radio-star {
    position: absolute;
    opacity: 0;
    pointer-events: none;

}

#empty-star-1, #empty-star-2, #empty-star-3, #empty-star-4, #empty-star-5 {
    color: tomato;
    font-size: 20px;
}
#star-1, #star-2, #star-3, #star-4, #star-5 {
    color: red;
    font-size: 20px;
}

