
.session-form-nav {
    background-color: red;
    display: flex;
    justify-content: center;
    padding: 10px 0px 10px 0px;
}
.session-form-container {
    margin-top: 100px;;
    display: flex;
    justify-content: space-evenly;
    min-height: 400px;
}

.illustration {
    height: 300px;
}
.session-form-box {
     display: flex;
     flex-flow: column wrap;
     width: 300px;

 }
.session-form-box form{
    display: flex;
    flex-flow: column wrap;
}
.form-input {
    margin: 5px;
    width: 300px;
    height: 25px;
}
.name-input {
    height: 40px;
}
.name-input input {
    margin: 5px;
    width: 143px;
    height: 25px;
}
.name-input input:first-child {
    margin-right: 0px;
}

 .session-form-title {
    font: bold 20px helvetica;
    color: red;
    text-decoration: none;
    margin: 10px auto 10px auto;
 }

 .session-form-title-2 {
    font: bold 15px helvetica;
    text-decoration: none;
    margin: 10px auto 10px auto;
 }

 .session-form-foot {
    font: bold 10px helvetica;
    color: gray;
    /* color: #0073bb; */
    text-decoration: none;
    margin-left: auto;
 }

 .session-form-foot a, .session-form-title-2 a {
     text-decoration: none;
         color: #0073bb;
 }

 .session-form-foot a:hover, .session-form-title-2 a:hover {
     text-decoration: underline;
 }
 
.big-errors p {
     font: 16px helvetica;
     background: #fcd6d3;
     padding: 18px 18px 18px 24px;
     margin-left: 75px;
     margin-right: 75px;
     border-radius: 3px;
 }

 .email-error {
  width: 300px;
  margin: 10px auto;
  border: 1px solid gray;
  border-radius: 4px;
  padding: 5px;
  text-align: center;
  color: black;
  font: 14px helvetica;
  background-color: #eeeeef;
  position: fixed
}

.email-error::after {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid #eeeeef;
  left: 20px;
  top: -20px;
    }

.email-error::before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid transparent;
  border-bottom: 10px solid gray;
  left: 20px;
  top: -21px;
    }
.email-errors i {
    color: orange;
    margin: 5px;
 }
.email-errors-background {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 0;
}
.birthdate-dropdown {
    font: bold 10px helvetica;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    height: 50px;
 }
 
 .birthday {
    width: 100px;
    margin-right: 4px;
    height: 30px;
 }

.submit {
    height: 35px;
    background: red;
    color: white;
    border: none;
    border-radius: 3px;
    width: 309px;
    margin: 5px;
    transition: 0.5s;
}

.submit:hover {
    cursor: pointer;
    background-color: #d32323;
}