.user-show-container {
    width: 960px;
    margin: 0 auto;
}
.profile-info {
    display: flex;
}
.profile-info p {
    margin: 5px 0 5px 0
}
.profile-info ul {
    list-style: none;
}
.profile-currentUser {
    font-size: 30px;
    font-weight: bold;
}
#user-profile-pic {
   font-size: 200px;
   background-color: lightgray;
       color: gray;
}

.profile-reviews ul {
    list-style: none;
    margin-top: 0px;
}
.profile-review-header {
    font-size: 20px;
    margin-left: 40px;
    font-weight: bold;
    color: red;
    margin-bottom: 5px;
}

.profile-reviews li {
    display: flex;
    border-top: 1px solid lightgray;
    padding-top: 10px;
    max-width: 900px
}

.user-profile-review {
    margin-left: 10px;
}
.profile-business {
    margin-top: 0px;
}
.profile-review-body {
    margin-top: 0px;
}
#user-profile-review-pic {
    font-size: 50px;
    background-color: lightgray;
    color: gray;
    height: max-content;
}
.stars p {
    margin-bottom: 5px;
}