.user-show-container {
    width: 960px;
    margin: 0 auto;
}
.profile-info {
    display: flex;
}
.profile-info p {
    margin: 5px 0 5px 0
}
.profile-info ul {
    list-style: none;
}
.profile-currentUser {
    font-size: 30px;
    font-weight: bold;
}
#user-profile-pic {
   font-size: 200px;
   background-color: lightgray;
       color: gray;
}

.profile-reviews {
    width: 700px;
    padding-right: 40px;
    border-right: solid 1px lightgray;
}
.profile-reviews ul {
    list-style: none;
    margin-top: 0px;
}
.profile-review-header {
    font-size: 20px;
    margin-left: 40px;
    font-weight: bold;
    color: red;
    margin-bottom: 5px;
}

.profile-reviews li {
    display: flex;
    border-top: 1px solid lightgray;
    padding-top: 10px;

}

.user-profile-review {
    margin-left: 10px;
}
.profile-business {
    margin-top: 0px;
}
.profile-business a {
    text-decoration: none;
    color: #0073bb;
}

.profile-business a:hover{
    text-decoration: underline;
}
.profile-review-body {
    margin-top: 0px;
}
#user-profile-review-pic {
    font-size: 50px;
    background-color: lightgray;
    color: gray;
    height: max-content;
}
.stars p {
    margin-bottom: 5px;
}

.profile-body {
    display: flex;
    justify-content: space-between;
}
.about-user {
    /* align-content: center; */
    margin-right: 40px;
    /* border: solid 1px red; */
    height: min-content;
}

.about-user-title {
    font-size: 20px;
    color: red;
    font-weight: bolder;
}

.about-user-bold {
    font-weight: bolder;
}

.stars {
    display: flex;
}

.stars p {
    min-width: 100px;
}

#empty-star {
    color: salmon;
}